*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-image: linear-gradient(90deg ,rgb(130, 81, 237) ,rgb(208, 96, 255));
    display: flex;
    align-items: center;
    justify-content: center;
}

.clockContainer{
    display: flex;
    justify-content: space-between;
}

.hour,
.minute,
.second{
    background-color: white;
    padding: 1.5rem;
    border-radius: 20px;
    font-size: 60px;
    transition: 0.3s;
}

.dot{
    font-size: 60px;
    display: flex;
    align-items: center;
    margin: 0px 20px;
    color: white;
}

@media only screen and (max-width : 468px){
    .clockContainer div{
        font-size: 45px;
    }
}